/* =========================
   CONTAINER PRINCIPAL
========================= */

.info-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;

    background-color: #1E293B;
    border-radius: 12px;
}

/* =========================
   TÍTULOS
========================= */

.main-title {
    color: white;
    font-size: 2.2rem;
    text-align: center;
    margin: 50px 0 40px;
    text-transform: uppercase;
}

.info-subtitle {
    color: white;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* =========================
   ACORDION
========================= */

.accordion-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion-item {
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

summary {
    list-style: none;
    padding: 20px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    color: black;
}

summary::-webkit-details-marker {
    display: none;
}

.arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    transition: 0.3s;
}

details[open] .arrow {
    transform: rotate(-135deg);
}

.content {
    padding: 20px;
    color: #000;
    line-height: 1.6;
}