/* CORPO DO SITE */

body {

    background-color: #000000;

    margin: 0;

    margin-bottom: 20px;

    font-family: Arial, sans-serif;

}

/* AJUSTES PARA A TELA DO MAPA */

#map {

    height: calc(100vh - 80px); /* Altura total da tela menos o header */

    width: 100%;

    z-index: 1; /* Mapa fica no fundo */

}

header {

    position: relative;

    z-index: 1000; /* Header e menus ficam na frente do mapa */

}

.submenu {

    z-index: 1100; /* Submenu fica na frente de tudo */

}
body{
margin:0;
padding:0;
overflow:hidden;
}

header{
position:relative;
z-index:1000;
}

#map{
height:calc(100vh - 80px);
width:100%;
}

/* botão localização */

#btnLocalizacao{
position:absolute;
top:100px;
right:20px;
z-index:1000;
background:#0078ff;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}