/* HEADER */
header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img {
    height: 60px;
}

.perfil {
    position: relative;
}
.perfil:hover .submenu {
    display: block;
}

.botaoMapa {
    background: linear-gradient(45deg, #a8329e, #23b8b8); 
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; 
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburguer {
    color: white;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover {
    color: #2dbac9;
}

.submenu {
    display: none;
    position: absolute;
    background: rgb(39, 28, 28);
    list-style: none;
    padding: 10px;
    border: 1px solid #080000;
}



.submenu li {
    margin: 5px 0;
}

.erro-login {
    color: red;
    background: #ffe6e6;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}
/* CORPO DO SITE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-conteudo {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
